# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  schedule:
    - cron: '*/5 * * * *'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - name: Saludo
        run: echo "Hola Insectos"
